h1{
    color:rgb(142, 138, 201);
    text-align: center;
    background-color: midnightblue;
    padding:30px;
   
}





a{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 10vh;
    flex-direction: column;

    text-decoration:  none;
    color:rgb(142, 138, 201);
    text-align: center;


}
.footer{
    background-color: midnightblue;
    align-items: center;
    text-align: center;
}

.footer a{
    padding:20px;
    display: inline-block;
    


}

.footer a:hover{
    color:white;
}



.waiting{
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;

}

.ticket{
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;

    


   
}

.img{
    width:140px;
    height:140px;
    padding:20px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
}

#btn{

    display: flex;
    justify-content: center;
    align-items:center;
    height: 10vh;
    display: flex;
    font-size: 20pt;



    border: 0.5rem solid midnightblue;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 15%;
    border-bottom-right-radius:20%;
    background-color: rgb(228, 228, 238);
    color:rgb(142, 138, 201);
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left:30px;

 
}

#btn:hover{
    color:white;
    
}

.index{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    align-items: center;
    text-align: center;

}

.gamja{
    
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
    
        align-items: center;
        text-align: center;
    
    
}



